<a href="https://colab.research.google.com/github/Deemo-nee/Python_basic/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Getting and Knowing Data

In [6]:
import pandas as pd
import numpy as np

In [ ]:
# Import Dataset 
df = pd.read_csv("/content/chipotle.tsv", sep = "\t")

df.head(10) #Hiển thị 10 dòng đầu tiên trong dataset

Dataset Overview

In [ ]:
# Dataset Overview
df.shape 
df.info() #Kiểm tra thoong tin Dataset

#Hiển thị toàn bộ tên cột trong Dataset
df.columns

#Kiểm tra Dataset được đánh số bao nhiêu tới bao nhiêu 
df.index

In [ ]:
df.describe(include = "all")

Location and Index Location (loc and iloc)

In [ ]:
#Lọc item có quantity = 15 hoặc item_name = Izze	
df.loc[(df.quantity == 15) | (df.item_name =="Izze")]

In [ ]:
#Lọc ra item có quantity = 2 và item_name = Nantucket Nectar	
df.loc[(df.quantity == 2) & (df.item_name =="Nantucket Nectar")]

In [ ]:
#Lọc ra order_id, quantity, item_name của các sản phẩm có quantity = 2 và item_name = Nantucket Nectar	
df.loc[(df.quantity == 2) & (df.item_name =="Nantucket Nectar"), ["order_id", "quantity", "item_name"]]

In [ ]:
#Index location
#Lọc ra hàng thứ 10 
df.iloc[[9]] #iloc[9] bởi vì Dataset này có hàng bắt đầu từ 0

In [ ]:
#Lọc ra item từ hàng thứ 3 tới hàng thứ 10
df.iloc[3:11]

In [ ]:
#Lọc dữ liệu từ 3 đến 4 và in ra các cột mình muốn
#Lấy toàn bộ dữ liệu trừ cột cuối cùng
x = df.iloc[3:5, :-1]

#Lấy dữ liệu cột cuối cùng từ hàng 3 đến 4
y = df.iloc[3:5, -1]
print(y)

Data Manipulation

In [ ]:
#Kiểu tra kiểu dữ liệu của cột
df.item_price.dtype

In [56]:
#Hàm Apply() và lambda để chuyển đổi $ thành rỗng của cột item_price -- đồng thời ép kiểu dữ liệu cột item_price thành kiểu float
df.item_price = df.item_price.apply(lambda x : float(x.replace('$', '')))

In [ ]:
df.head()

In [ ]:
#Thêm cột total_price vào Dataset bằng quantity nhân item_price -- có thể format theo kiểu df.<tên cột> hoặc df['<tên cột>']
df['total_price'] = df['quantity'] * df['item_price']
df.head()

In [ ]:
#Tính tổng total_price
revenue = df.total_price.sum()
print(revenue)

In [ ]:
#Lọc ra món được gọi nhiều nhất
#Sử dụng hàm groupby() nhóm item_name(tên sản phẩm) với tổng quantity(số lượng order)
a = df.groupby("item_name") ['quantity'].sum()
a.sort_values(ascending = False).head(5) #sort_values(ascending = False) Sắp xếp giảm dần -- sort_values() mặc định tăng dần -- head(5) lọc ra 5 món đầu tiên

In [ ]:
#Unique values
#Đếm các món hàng được order bao nhiêu lần
df.item_name.value_counts()

#Đếm xem có bao nhiêu món hàng được order
df.item_name.value_counts().count()

In [ ]:
#Tính xem có bao nhiêu món hàng khác nhau -- "unique": liệt kê danh sách item khác nhau --"nunique": Số lương các item khác nhau
df.item_name.nunique()